{% extends 'base.html.twig' %}

{% block content %}

    <div class="modal fade" id="AtelierYEAH" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Données enregistrées avec succès
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn btn-secondary text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500" data-dismiss="modal"" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AtelierNone" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aucun atelier présent en BDD
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn btn-secondary text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AtelierDate" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Les dates ne correspondent pas
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn btn-secondary text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500"  data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AtelierError" tabindex="-1" role="dialog" aria-labelledby="licenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="licenceModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Les champs doivent être remplis
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn btn-secondary text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yelllow-600 dark:hover:bg-yellow-500 dark:focus:ring-yellow-500" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {% if app.flashes('danger') %}
        <script>
            $(document).ready(function(){
                $('#AtelierNone').modal('show');
            });
        </script>
    {% endif %}

    {% if app.flashes('succes') %}
        <script>
            $(document).ready(function(){
                $('#AtelierYEAH').modal('show');
            });
        </script>
    {% endif %}


    {% if app.flashes('errordate') %}
        <script>
            $(document).ready(function(){
                $('#AtelierDate').modal('show');
            });
        </script>
    {% endif %}

    {% if app.flashes('error') %}
        <script>
            $(document).ready(function(){
                $('#AtelierDate').modal('show');
            });
        </script>
    {% endif %}

   <!-- Formulaire -->
    <div class="mt-14 sm:mx-auto sm:w-full sm:max-w-sm">
    {{ form_start(form) }}
    <div class="mt-4 flex justify-around">
        {{ form_widget(form.type, {'attr': {'class' : 'space-x-4' }})}}
    </div>

    <!-- Atelier -->
    <div id="atelier-fields" style="display:none;">
        {{ form_row(form.atelier.libelle, {
            'attr': {'class': 'block w-full rounded-md border border-gray-900 py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
        {{ form_row(form.atelier.nombrePlaces, {
            'attr': {'class': 'block w-full rounded-md border border-gray-900 py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
    </div>

    <!-- Theme -->
    <div id="theme-fields" style="display:none; ">
        {{ form_row(form.theme.atelier, {
            'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
        }) }}
        {{ form_row(form.theme.libelle, {
            'attr': {'class': 'block w-full rounded-md border border-gray-900 py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
    </div>

    <!-- Vacation -->
    <div id="vacation-fields" style="display:none;">
        {{ form_row(form.vacation.atelier, {
            'attr': {'class': 'block w-full  text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
        {{ form_row(form.vacation.dateDebut, {
            'attr': {'class': 'block w-full  text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
        {{ form_row(form.vacation.dateFin, {
            'attr': {'class': 'block w-full  text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6'}
        }) }}
    </div>

    <div class="mt-4 flex justify-center">
        {{ form_widget(form.save, {
            'attr': {'class': 'btn btn-primary text-white bg-black hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-black dark:hover:bg-black dark:focus:ring-black'}
        }) }}
    </div>

    {{ form_end(form) }}
</div>


    {{ form_end(form) }}
</div>


    <script>

        document.addEventListener('DOMContentLoaded', function() {
            
            // Afficher les champs en fonction des boutons radios cliqués
            function updateFields() {
                var selectedType = document.querySelector('input[name="form[type]"]:checked').value;
                document.getElementById('atelier-fields').style.display = (selectedType === 'atelier') ? 'block' : 'none';
                document.getElementById('theme-fields').style.display = (selectedType === 'theme') ? 'block' : 'none';
                document.getElementById('vacation-fields').style.display = (selectedType === 'vacation') ? 'block' : 'none';
            }

            // Ajout d'un écouteur d'événements pour chaque bouton radio
            Array.from(document.querySelectorAll('input[name="form[type]"]')).forEach(function(radio) {
                radio.addEventListener('change', updateFields);
            });

            // Initialisation au chargement de la page
            updateFields();

        });

    </script>

{% endblock %}
