    <header class="bg-white shadow">
        <div class="mx-auto py-4 px-4 h-3 flex justify-between items-center">

            <!-- Logo à l'extrême gauche -->
            <a href="{{ path('accueil') }}" class="flex-shrink-0 w-[60px]">
                <img src="{{ asset('build/images/Mdl.png') }}" alt="Logo">
            </a>

            <!-- Textes à l'extrême droite -->
            <div class="flex text-base font-bold text-gray-800">
                <div class="mr-4"><a href="{{ path('app_login') }}">Connexion</div>
                <div class="mr-4"><a href="{{ path('app_inscription') }}">Inscription</a></div>
                <div class="mr-4"><a href="{{ path('app_AddData') }}">Édition</a></div>
            </div>
        </div>
    </header>