{% extends "base.html.twig" %}
{% block content %}
    <div class="flex flex-col justify-center item-center w-[70%]">    
        <div class="p-6 ">
            <h2 class="text-xl text-center font-bold mb-4">Dates du Congrès</h2>
            <h2 class="text-sm text-center">Le congrès se déroulera du 20 au 23 Octobre 2024.</h2>
        </div>

        <!-- Bloc pour les ateliers proposés -->
        <div class="p-6 bg-gray-100 ">
            <h2 class="text-xl text-center font-bold mb-4 ">Ateliers Proposés</h2>
            <div class="ateliers-container flex flex-wrap justify-center item-center -mx-2">
                {% for atelier in ateliers %}
                    <div 
                        tabindex="0" 
                        role="button" 
                        class="atelier bg-stone-400 hover:bg-gray-300 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 p-4 mb-4 cursor-pointer mx-5 w-1/3"
                        aria-label="Détails de l'atelier"
                        >
                        <h3 class="text-base font-semibold decoration-neutral-200">{{ atelier.libelle }}</h3>
                        <ul>
                            {% for theme in atelier.themes %}
                                <li class="text-sm">{{ theme.libelle }}</li>
                                {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Bloc pour les vacations -->
        <div class="p-6 bg-gray-100">
            <h2 class="text-xl text-center font-bold mb-4 ">Horraires des ateliers</h2>
            <div class="ateliers-container flex flex-wrap justify-center item-center -mx-2">
                <div 
                    tabindex="0" 
                    role="button" 
                    class="atelier bg-stone-400 hover:bg-gray-300 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 p-4 mb-4 cursor-pointer mx-5 w-1/3"
                    aria-label="Détails des horraires">

                    <div>
                        {% for vacation in vacations|slice(0,5) %}
                            <h1 class="text-base font-semibold decoration-neutral-200"> {{vacation.dateHeureDebut}} - {{vacation.dateHeureFin}} </h1>
                        {% endfor %}
                    </div>
                </div>

                 {#}{% set break = false %}
                        {% if vacation.id == 4 %}
                            {% set break = true %}
                        {% endif %}

                        {% if not break %}
                            <h1> {{vacation.dateHeureDebut}} </h1>
                        {% endif %}

                        {% if break %}
                            {% set break = false %}
                        {% endif %}
    
                    {% endfor %}{#}
            </div>
        </div>


        <!-- Bloc pour les options d'hébergement -->
        <section class="p-6">
            <h2 class="text-xl text-center font-bold mb-4">Options d'Hébergement</h2>
             <div class="ateliers-container flex flex-wrap justify-center item-center -mx-2">
            {% for hotel in hotels %}
                <div 
                        tabindex="0" 
                        role="button" 
                        class="atelier bg-white hover:bg-gray-300 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 p-4 mb-4 cursor-pointer mx-5 w-1/3"
                        aria-label="Option hebergement"
                        >
                    <h3 class="text-base text-center font-semibold mb-2">{{ hotel.pnom }}</h3>
                    <p class="text-sm text-center">Adresse : {{ hotel.adresse1 }}, {{ hotel.cp }} {{ hotel.ville }}</p>

                    <p class="font-bold text-center ">Tarifications :</p>
                    {% if hotel.pnom == "ibis Styles Lille Centre Gare Beffroi" %}
                        <li class="text-sm text-center">Single: {{ ibisSingle }} €</li>
                        <li class="text-sm text-center">Double: {{ ibisDouble }} €</li>
                        {% endif %}

                    {% if hotel.pnom == "Ibis Budget Lille Gares Vieux-Lille" %}
                        <li class="text-sm text-center">Single: {{ budgetSingle }} €</li>
                        <li class="text-sm text-center">Double: {{ budgetDouble }} €</li>
                        {% endif %}

                </div>
            {% endfor %}
             </div>
        </section>
    </div>
{% endblock %}